{#
# Copyright (c) 2013-2019 Mastercard
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
<script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<div class="form-horizontal" id="payment">
	<div class="buttons">
	  <div class="pull-right">
            <button id="simplify-button"
                data-color="{{ button_color }}"
                data-sc-key="{{ pub_key  }}"
                data-name="{{ store_name }}"
                data-reference="{{ description }}"
                data-amount="{{ amount }}"
                data-operation="create.token"
                data-receipt="false"
                data-redirect-url="{{ redirect_url }}"
            >{{ button_pay }}</button>
	  </div>
	</div>
</div>
